<section>
    <style>

        .link {
            stroke: gray;
        }

        .link:hover {
            stroke: blue;
            opacity: 1;
        }

        .xs {
            font-size: x-small;
        }

    </style>

    <form action="#">
        <p class="range-field">
            <input type="range" min="{{rangeMin}}" max="{{rangeMax}}" ng-change="thresholdChanged()" ng-model="rangeValue"/>
        </p>
    </form>
    <span class="xs">
        old: {{old}} / new: {{new}} / enter: {{enter}}
    </span>
    <div id="{{forceId}}"></div>
</section>
