<section>

    <style>
        .flex {
            display: flex;
        }

        .item {
            margin-left: 1em;
            margin-top: 1em;
            margin-right: 1em;
        }

    </style>

    <div class="flex">

        <span class="item">
            <button ng-click="reload()" class="btn-floating grey"><i class="material-icons">skip_next</i></button>
        </span>
        <cartoon-image index="{{index}}" max-height-vh="90" max-width-vw="90"></cartoon-image>
    </div>
</section>

