<section>
    <style>
        .infinite-scroll {
            background: lightgray;
        }

        .btn-floating {
            margin-left: 1em;
            margin-top: 1em;
        }

        .col {
            margin-top: 1em;
        }

        h1 {
            font-family: "Courier New","Courier","monospace";
        }

    </style>
    <a class="btn-floating grey" href="#/picgrid?shuffle={{shuffleSwitch}}"><i class="material-icons">{{shuffleIcon}}</i></a>
    <h1>The complete Geek&Poke</h1>

    <div class="infinite-scroll" infinite-scroll='loadMore()' infinite-scroll-distance='2'>
        <div class="row">
            <span class="col s12 m6 l3" ng-repeat="index in indices">
                <cartoon-image index="{{index}}"></cartoon-image>
            </span>
        </div>
        <!--
        -->
    </div>
</section>